body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#typing-area {
    margin: 20px 0;
}

#text-display {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    white-space: pre-wrap;
}

.correct {
    color: white;
    background-color: #35374B;
}

.incorrect {
    color: red;
    background-color: #35374B;
}

.cursor {
    background-color: lightblue;
    color: rgba(255, 255, 255, 0.555);
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { background-color: rgba(173, 216, 230, 0.11); }
    50% { background-color: #35374B; }
}

#theme-toggle {
    margin-top: 10px;
    padding: 5px 10px;
}

:root {
    --bg-color: #35374B;
    --text-color: rgba(255, 255, 255, 0.388);
}

body.dark-mode {
    --bg-color: black;
    --text-color: rgba(255, 255, 255, 0.562);
}
