body {
    font-family: Arial, sans-serif;
    background-color: #35374B; /* Set background color */
    color: rgba(255, 255, 255, 0.388);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.container {
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

#typing-area {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

#text-display {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.5px;
    white-space: pre-wrap;
    margin-bottom: 10px; /* Space between text and button */
}

#reset-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #44444400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-button:hover {
    background-color: #555;
}

.correct {
    color: white;
    background-color: #35374B; /* Set background color */
}

.incorrect {
    color: red;
    background-color: #35374B; /* Set background color */
}

.cursor {
    background-color: lightblue;
    color: rgba(255, 255, 255, 0.388);
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { background-color: rgba(173, 216, 230, 0.11); }
    50% { background-color: #35374B; }
}
